[
  {
    "name": "home",
    "path": "/"
  },
  {
    "name": "static_login",
    "path": "/login"
  },
  {
    "name": "static_about",
    "path": "/about"
  },
  {
    "name": "item-detail",
    "path": "/items/REPLACE-WITH-A-REAL-ID"
  }
]
